/* Base styling, remove borders/margins */
* {
    /* outline: 1px solid limegreen !important; */
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem
}

main {
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background: url(../images/night-skyv2.webp) no-repeat center;
}

#game-container {
    margin-top: 1rem;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

#options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: black solid 2px;
}

#options img {
    width: clamp(100px, 120px, 200px);
    border-radius: 50%;
    margin: .5rem;
}

#game-result img {
    width: clamp(100px, 120px, 200px);
    border-radius: 50%;
    margin: .5rem;
}

#game-result {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: .5rem;
}

#game-result h2 {
    font-size: 1rem;
    padding: 5px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.scoreboard-table {
    padding: .5rem;
    /* border: solid 2px black; */
    font-size: 1rem;
    font-family: 'Teko', sans-serif;
    font-weight: 400;
    text-align: center;
}

.scoreboard-table th, .scoreboard-table td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
    color: #fff;
}