/* Base styling, remove borders/margins */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Positioning the game container and styles */
#game-container {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Instructions section styles*/
#instructions {
    text-align: center;
    margin-bottom: 2rem;
}

#instructions a {
    text-decoration: none;
    border-bottom: 1px solid #333;
}

a:hover {
    color: #555;
}

/* Options sections styles*/
#game-container .options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

/* Button section styles*/
#game-container .options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: grab;
}

/* Scoreboard area styles */
#game-container .scoreboard {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}